# EXPLORATORY DATA ANALYSIS

In [75]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import scipy
%matplotlib inline

###  Importing modules and dataset to inspect, clean and further process for analysis.

In [26]:
# Importing the dataset
# We promoted the rank column as the index column
vgs = pd.read_csv('vgsales.csv', index_col='Rank')
vgs

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [15]:
vgs.info()
# shows the year and publisher columns have fewer non-null values compared to the other columns.
# Hence they have some missing values
# also shows the year column values have been translated as floats instead of ints

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 1 to 16600
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16598 non-null  object
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16598 non-null  object
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.4+ MB

### Basic Description of Data ###
* The aim of this stage is to help us get a feel of the data and give us an idea of the data distribution, challenges with the data and how to effectively deal with those challenges to improve our analysis

In [29]:
vgs.describe()
# the mean year is 2006 which shows that the data is centered around 2006
# max year is 2020 and min year is 1980, which shows the data was collected for the period 1980-2020(a 40-year period)
# the global sales value is within a range of 100,000 to 82,400,000
# the average global sales over the years is 537, 441, which is more skewed towards the minimum

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [40]:
# first ten rows
# shows top ten video games in terms of global sales
# the first ten rows of the data set shows complete data distribution across the column with no missing values or errors
vgs.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [41]:
# bottom ten rows
# shows lowest ten video games in terms of global sales
# the bottom ten rows of the data set shows complete data distribution across the column with no missing values or errors
vgs.tail(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [51]:
# taking 20 random samples of the data

vgs.sample(20)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
14574,Mahjong Kakutou Club: Zenkoku Taisenban,PS3,2006.0,Misc,Konami Digital Entertainment,0.00,0.00,0.03,0.00,0.03
2745,The Amazing Spider-Man (Console Version),X360,2012.0,Action,Activision,0.43,0.26,0.00,0.06,0.75
15938,Pippa Funnell 2: Farm Adventures,DS,2007.0,Simulation,Ubisoft,0.00,0.01,0.00,0.00,0.02
8785,Amagami,PSP,2011.0,Adventure,Kadokawa Shoten,0.00,0.00,0.15,0.00,0.15
16190,Jewel Quest II,PC,2007.0,Puzzle,Avanquest,0.00,0.01,0.00,0.00,0.01
3880,Dragon Age: Origins,PC,2009.0,Role-Playing,Electronic Arts,0.00,0.46,0.00,0.06,0.51
11984,Battlezone: Rise of the Black Dogs,N64,2000.0,Strategy,Crave Entertainment,0.06,0.01,0.00,0.00,0.07
11322,Sports Collection,DS,2010.0,Sports,Ubisoft,0.06,0.01,0.00,0.01,0.08
3385,Hot Wheels: Stunt Track Challenge,PS2,2004.0,Racing,THQ,0.29,0.23,0.00,0.08,0.59
11865,Archer Maclean's 3D Pool,GBA,2003.0,Misc,Crave Entertainment,0.05,0.02,0.00,0.00,0.07
5131,FIFA Soccer 13,PSP,2012.0,Action,Electronic Arts,0.05,0.19,0.02,0.10,0.37
7822,NBA Live 14,XOne,2013.0,Sports,Electronic Arts,0.16,0.02,0.00,0.01,0.19
14706,Moto Racer DS,DS,2008.0,Racing,Nobilis,0.00,0.02,0.00,0.00,0.03
10319,Yamaha Supercross,DS,2009.0,Racing,Zoo Digital Publishing,0.10,0.00,0.00,0.01,0.11
10908,echochrome,PSP,2008.0,Puzzle,Sony Computer Entertainment,0.00,0.01,0.08,0.00,0.09
13097,The Technomancer,PS4,2016.0,Role-Playing,Focus Home Interactive,0.01,0.03,0.00,0.01,0.05
14039,Super Robot Taisen: Scramble Commander the 2nd,PS2,2007.0,Strategy,Banpresto,0.00,0.00,0.04,0.00,0.04
4487,NFL Blitz 20-03,PS2,2002.0,Sports,Midway Games,0.21,0.17,0.00,0.06,0.44
7663,Pro Yaky? Spirits 2013,PSP,2013.0,Sports,Konami Digital Entertainment,0.00,0.00,0.20,0.00,0.20
484,Street Fighter IV,X360,2009.0,Fighting,Capcom,1.82,0.71,0.15,0.26,2.95

### Dealing with missing values

In [52]:
# counting the number of missing values in each column
# this clearly shows that the year column has 271 missing values and the publisher column has 58
# since year is a fundamental part of our analysis, we will not drop those missi
vgs.isnull().sum()

Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [66]:
null_bool = pd.isnull(vgs['Year'])
vgs[null_bool]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...
16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01

In [84]:
vgs_1 = vgs.interpolate(method='linear', limit_direction='forward', columns='Year')
vgs_1

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [85]:
null_bool = pd.isnull(vgs_1['Year'])
vgs_1[null_bool]

Empty DataFrame
Columns: [Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [90]:
vgs_1.iloc[179, :]

Name            Madden NFL 2004
Platform                    PS2
Year                     2000.5
Genre                    Sports
Publisher       Electronic Arts
NA_Sales                   4.26
EU_Sales                   0.26
JP_Sales                   0.01
Other_Sales                0.71
Global_Sales               5.23
Name: 180, dtype: object

In [95]:
vgs_1 = vgs_1.astype({'Year': 'int64'})
vgs_1

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [96]:
vgs_1.iloc[179, :]

Name            Madden NFL 2004
Platform                    PS2
Year                       2000
Genre                    Sports
Publisher       Electronic Arts
NA_Sales                   4.26
EU_Sales                   0.26
JP_Sales                   0.01
Other_Sales                0.71
Global_Sales               5.23
Name: 180, dtype: object

In [98]:
# checking for missing values in publishers column
null_bool = pd.isnull(vgs_1['Publisher'])
vgs_1[null_bool]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
471,wwe Smackdown vs. Raw 2006,PS2,2010,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
1305,Triple Play 99,PS,2009,Sports,NaN,0.81,0.55,0.00,0.10,1.46
1664,Shrek / Shrek 2 2-in-1 Gameboy Advance Video,GBA,2007,Misc,NaN,0.87,0.32,0.00,0.02,1.21
2224,Bentley's Hackpack,GBA,2005,Misc,NaN,0.67,0.25,0.00,0.02,0.93
3161,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004,Misc,NaN,0.46,0.17,0.00,0.01,0.64
3168,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004,Misc,NaN,0.46,0.17,0.00,0.01,0.64
3768,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004,Misc,NaN,0.38,0.14,0.00,0.01,0.53
4147,Sonic the Hedgehog,PS3,2004,Platform,NaN,0.00,0.48,0.00,0.00,0.48
4528,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004,Misc,NaN,0.31,0.11,0.00,0.01,0.43
4637,The Fairly Odd Parents: Game Boy Advance Video...,GBA,2004,Misc,NaN,0.30,0.11,0.00,0.01,0.42
5304,Dragon Ball Z: Budokai Tenkaichi 2 (JP sales),Wii,2010,Action,NaN,0.15,0.05,0.14,0.01,0.35
5649,Cartoon Network Collection: Game Boy Advance V...,GBA,2005,Misc,NaN,0.23,0.08,0.00,0.01,0.32
6274,The Legend of Zelda: The Minish Cap(weekly JP ...,GBA,2003,Action,NaN,0.00,0.00,0.27,0.01,0.27
6439,Sonic X: Game Boy Advance Video Volume 1,GBA,2004,Misc,NaN,0.19,0.07,0.00,0.00,0.27
6564,Dora the Explorer: Game Boy Advance Video Volu...,GBA,2004,Misc,NaN,0.18,0.07,0.00,0.00,0.26
6650,Cartoon Network Collection: Game Boy Advance V...,GBA,2004,Misc,NaN,0.18,0.07,0.00,0.00,0.25
6851,All Grown Up!: Game Boy Advance Video Volume 1,GBA,2004,Misc,NaN,0.17,0.06,0.00,0.00,0.24
7210,Nicktoons Collection: Game Boy Advance Video V...,GBA,2004,Misc,NaN,0.16,0.06,0.00,0.00,0.22
7353,Yu Yu Hakusho: Dark Tournament,PS2,2002,Fighting,NaN,0.10,0.08,0.00,0.03,0.21
7472,SpongeBob SquarePants: Game Boy Advance Video ...,GBA,2004,Misc,NaN,0.15,0.05,0.00,0.00,0.21
7955,Thomas the Tank Engine & Friends,GBA,2004,Adventure,NaN,0.13,0.05,0.00,0.00,0.19
8332,Dragon Ball GT: Game Boy Advance Video Volume 1,GBA,2004,Misc,NaN,0.12,0.05,0.00,0.00,0.17
8343,Codename: Kids Next Door: Game Boy Advance Vid...,GBA,2004,Misc,NaN,0.12,0.05,0.00,0.00,0.17
8370,Teenage Mutant Ninja Turtles: Game Boy Advance...,GBA,2004,Misc,NaN,0.12,0.04,0.00,0.00,0.17
8505,Stronghold 3,PC,2011,Strategy,NaN,0.06,0.10,0.00,0.00,0.16
8772,Cartoon Network Collection: Game Boy Advance V...,GBA,2005,Misc,NaN,0.11,0.04,0.00,0.00,0.15
8850,PokÃ©mon: Johto Photo Finish: Game Boy Advance ...,GBA,2004,Misc,NaN,0.11,0.04,0.00,0.00,0.15
8898,Strawberry Shortcake: Game Boy Advance Video V...,GBA,2004,Misc,NaN,0.11,0.04,0.00,0.00,0.15
9519,Farming Simulator 2011,PC,2010,Simulation,NaN,0.00,0.13,0.00,0.00,0.13
9751,Super Robot Wars OG Saga: Masou Kishin II - Re...,PSP,2007,Strategy,NaN,0.00,0.00,0.12,0.00,0.12
10384,Disney Channel Collection Vol. 1,GBA,2004,Misc,NaN,0.08,0.03,0.00,0.00,0.11
10496,Atsumare! Power Pro Kun no DS Koushien,DS,2002,Sports,NaN,0.00,0.00,0.10,0.00,0.10
11078,Action Man-Operation Extreme,PS,2013,Action,NaN,0.05,0.03,0.00,0.01,0.09
11528,Cartoon Network Collection: Game Boy Advance V...,GBA,2004,Misc,NaN,0.06,0.02,0.00,0.00,0.08
12489,Chou Soujuu Mecha MG,DS,2012,Simulation,NaN,0.00,0.00,0.06,0.00,0.06
12519,Prinny: Can I Really Be The Hero? (US sales),PSP,2008,Action,NaN,0.06,0.00,0.00,0.00,0.06
13280,Monster Hunter Frontier Online,PS3,2005,Role-Playing,NaN,0.00,0.00,0.05,0.00,0.05
13674,B.L.U.E.: Legend of Water,PS,2004,Adventure,NaN,0.00,0.00,0.04,0.00,0.04
13964,World of Tanks,X360,2010,Shooter,NaN,0.00,0.03,0.00,0.00,0.04
14089,Housekeeping,DS,2004,Action,NaN,0.00,0.00,0.04,0.00,0.04
14299,Bikkuriman Daijiten,DS,2009,Misc,NaN,0.00,0.00,0.03,0.00,0.03
14314,Silverlicious,DS,2012,Action,NaN,0.03,0.00,0.00,0.00,0.03
14701,UK Truck Simulator,PC,2010,Simulation,NaN,0.00,0.03,0.00,0.00,0.03
14945,Umineko no Naku Koro ni San: Shinjitsu to Gens...,PS3,2008,Adventure,NaN,0.00,0.00,0.02,0.00,0.02
15059,Xia-Xia,DS,2012,Platform,NaN,0.00,0.02,0.00,0.00,0.02
15264,Mario Tennis,3DS,2010,Sports,NaN,0.00,0.00,0.02,0.00,0.02
15328,Nicktoons Collection: Game Boy Advance Video V...,GBA,2005,Misc,NaN,0.01,0.01,0.00,0.00,0.02
15356,Demolition Company: Gold Edition,PC,2011,Simulation,NaN,0.00,0.02,0.00,0.00,0.02
15791,"Moshi, Kono Sekai ni Kami-sama ga Iru to suru ...",PSV,2016,Adventure,NaN,0.00,0.00,0.02,0.00,0.02
15918,Dream Dancer,DS,2008,Misc,NaN,0.01,0.00,0.00,0.00,0.02
16194,Homeworld Remastered Collection,PC,2008,Strategy,NaN,0.00,0.01,0.00,0.00,0.01
16201,AKB1/48: Idol to Guam de Koishitara...,X360,2004,Misc,NaN,0.00,0.00,0.01,0.00,0.01
16211,Super Robot Monkey Team: Game Boy Advance Vide...,GBA,2005,Misc,NaN,0.01,0.00,0.00,0.00,0.01
16232,Brothers in Arms: Furious 4,X360,2007,Shooter,NaN,0.01,0.00,0.00,0.00,0.01
16370,Dance with Devils,PSV,2016,Action,NaN,0.00,0.00,0.01,0.00,0.01
16497,Legends of Oz: Dorothy's Return,3DS,2014,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16546,Driving Simulator 2011,PC,2011,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16556,Bound By Flame,X360,2014,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

In [118]:
# filling null values
vgs_1 = vgs_1.fillna(method='ffill')
vgs_1

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [119]:
# checking if null values have been filled
null_bool = pd.isnull(vgs_1['Publisher'])
vgs_1[null_bool]

Empty DataFrame
Columns: [Name, Platform, Year, Genre, Publisher, NA_Sales, EU_Sales, JP_Sales, Other_Sales, Global_Sales]
Index: []

In [44]:
vgs.Year.value_counts()

2009.0    1431
2008.0    1428
2010.0    1259
2007.0    1202
2011.0    1139
2006.0    1008
2005.0     941
2002.0     829
2003.0     775
2004.0     763
2012.0     657
2015.0     614
2014.0     582
2013.0     546
2001.0     482
1998.0     379
2000.0     349
2016.0     344
1999.0     338
1997.0     289
1996.0     263
1995.0     219
1994.0     121
1993.0      60
1981.0      46
1992.0      43
1991.0      41
1982.0      36
1986.0      21
1989.0      17
1983.0      17
1990.0      16
1987.0      16
1988.0      15
1985.0      14
1984.0      14
1980.0       9
2017.0       3
2020.0       1
Name: Year, dtype: int64